<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-file-opener2" version="2.2.1">

    <name>File Opener2</name>
    <description>A File Opener Plugin for Cordova. (The Original Version)</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/plugins.FileOpener2.js" name="FileOpener2">
        <clobbers target="cordova.plugins.fileOpener2" />
    </js-module>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FileOpener2">
                <param name="ios-package" value="FileOpener2" />
            </feature>
        </config-file>
        <source-file src="src/ios/FileOpener2.m" />
        <header-file src="src/ios/FileOpener2.h" />
    </platform>

	<!-- WP8 -->
	<platform name="wp8">
		<config-file target="config.xml" parent="/*">
		  <feature name="FileOpener2">
			<param name="wp-package" value="FileOpener2" />
		  </feature>
		</config-file>
		<source-file src="src/wp8/FileOpener2.cs" />
	</platform>

	<!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/fileOpener2Proxy.js" name="fileOpener2Proxy">
            <merges target="" />
        </js-module>
    </platform>
</plugin>
